@using Project.ENTITIES.Enums;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FoodVM


@*@@if ((Model == null) && ViewBag.CRUD != "delete_operation") // _CruFoodion'da Model null değil çünkü AddFoodAjax()'da geriye değer dönüyor ama AddFoodAjax()'da dönmüyor Model null o yüzden..
{
    <h3>Yemek Oluşturma Formu</h3>
}*@
@if (Model.FoodDTO.ID == 0 && ViewBag.CRUD != "delete_operation")
{
    <h3>Yemek Oluşturma Formu</h3>
}
else if (Model.FoodDTO.ID != 0 && ViewBag.CRUD != "delete_operation")
{
    <h3>Yemek Güncelleme Formu</h3>
}
else if (Model.FoodDTO.ID != 0 && ViewBag.CRUD == "delete_operation")
{
    <h3>Yemek Silme Formu</h3>
}

<hr />
<div class="row">

    <form asp-action="CRUDFood" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (ViewBag.CRUD != "delete_operation")
        {
            TempData["Deleted"] = null;  // delete pop-up sayfasını açıp sonra kapatıp sonra da update/add pop'ı seçilirse TempData["Deleted"] sıfırlanmadığından CRUDFood action kısmında delete operation çalışır bu yüzden bunu sıfırlamak lazım

            // asp-for="" kullanımında içerisine Model.FoodDTO.FoodName tanımlanamaz (Model olmamalı) yani FoodDTO.FoodName şeklinde olacak.. ViewBag de tanımlanamaz.. ama TempData kullanılabilir sanırım..

            <div class="form-group">
                <label asp-for="FoodDTO.Food_Name" class="control-label"></label>
                <input asp-for="FoodDTO.Food_Name" class="form-control" />
                <span asp-validation-for="FoodDTO.Food_Name" class="text-danger"></span>
            </div>


            <!-- public short Food_Price { get; set; } 'short' tipi sayasdinde up ve down butonları çıkıyor -->
            <div class="form-group">
                <label asp-for="UserFoodJunctionDTO.Food_Price" class="control-label"></label>
                <input asp-for="UserFoodJunctionDTO.Food_Price" class="form-control" placeholder="Ürün fiyatı giriniz..." min="0" />
                <span asp-validation-for="UserFoodJunctionDTO.Food_Price" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UserFoodJunctionDTO.Food_Status" class="control-label"></label>
                <!--asp-items="Html.GetEnumSelectList<Project.ENTITIES.Enums.ExistentStatus>()" -->
                <select class="form-select" asp-for="UserFoodJunctionDTO.Food_Status">
                    <option value="0" selected>Yemek Durumunu seçiniz.</option>
                    @foreach (SelectListItem es in Html.GetEnumSelectList<Project.ENTITIES.Enums.ExistentStatus>())
                    {
                        <option value="@es.Value">@es.Text</option>

                    }
                </select>
                <span asp-validation-for="UserFoodJunctionDTO.Food_Status" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UserFoodJunctionDTO.Food_Picture" class="control-label"></label>
                <input class="form-control" type="file" name="_FoodPicture" src="UserFoodJunctionDTO._FoodPicture" />
            </div>


            <div class="form-group">
                <label asp-for="UserFoodJunctionDTO.Food_Description" class="control-label"></label>
                @*                <input asp-for="UserFoodJunctionDTO.Food_Description" class="form-control" />
            *@                <textarea asp-for="UserFoodJunctionDTO.Food_Description" class="form-control" style="height: 150px;resize: none;"></textarea>

                <span asp-validation-for="UserFoodJunctionDTO.Food_Description" class="text-danger"></span>
            </div>



            @if (Model.FoodDTO.ID == 0)
            {
@*                 <div class="form-group">
                    <input type="submit" value="Yemek Ekle" class="btn btn-primary mt-2"   />
                </div> *@

                <div class="form-group">

                  @*   type="button" *@
                    <button id="loadingButtonorjin" class="btn btn-primary mt-2" onclick="foo()" type="submit">
                        <span id="spinnerorjin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                        <span id="buttonTextorjin">Yemek Ekle</span>
                    </button>



                </div>
            }
            else
            {
                <div class="form-group">


                    <button id="loadingButtonorjin" class="btn btn-primary mt-2" onclick="startLoading()" type="submit">
                    @*      <span id="spinnerorjin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>  *@


                        <span id="buttonTextorjin">Yemek Güncelle</span>
                    </button>

                </div>

                <div class="form-group">
                    <div class="progress" style="display: none;">
                        <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <span id="progressText" class="progress-text">0%</span>
                        </div>
                   
                        

                        </div>
                   

@*                     <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> *@
                        </div>
            

 

 
            }
            @*                     <input type="submit" value="Yemek Güncelle" class="btn btn-primary mt-2 btnloading" onclick="startLoading()" />
        *@
            @*
        Güncellemelerde artık ürün güncellemesi yerine yeni bir ürün gibi ekleme olacak .. yani yeni bir ID olacak..*@
            @if (Model.FoodDTO.ID != 0)
            {
                <input type="hidden" asp-for="FoodDTO.ID" />
                <input type="hidden" asp-for="UserFoodJunctionDTO.FoodID" />
            }

        }

        else
        {
            <input type="hidden" asp-for="FoodDTO.ID" />

            <div class="form-group">
                <span asp-validation-for="FoodDTO.Food_Name"></span> <label style="width:100%; height:100%">@ViewBag.FoodNameDelete silmek istediğinizden emin misiniz ?</label>

            </div>

            <div class="form-group">
                <input type="submit" value="Yemek Sil" class="btn btn-primary mt-2" />
            </div>

            TempData["Deleted"] = "true";
        }

    </form>

</div>



<script>
 

    function foo() {

        alert("wait");
        console.log("orjin");

        var loadingButtonorjin = $("#loadingButtonorjin");
        var buttonTextorjin = $("#buttonTextorjin");
        var spinnerorjin = $("#spinnerorjin");

        //loadingButton2.prop("disabled", true);
        buttonTextorjin.text("İşleniyor...");

        //spinner.show();
        spinnerorjin.css("display", "inline-block");



    }

    function startLoading() {
        var button = $("#loadingButtonorjin");
        var progressBar = $("#progressBar");

        var buttonText = $("#buttonTextorjin");
       
        var progressText = document.getElementById("progressText");


       // button.prop("disabled", true); //  backend çalışmıyor bu koddan dolayı 

        // buttonText.text("İşleniyor..."); // yazıyı değiştir
        button.hide();

        progressBar.parent().show(); // progress bar'ı göster

        var width = 0;

        var interval = setInterval(function () {

            width += 3;
            progressBar.css("width", width + "%").attr("aria-valuenow", width);
            
            progressText.textContent = width + "%";

            if (width >= 99) {
                 progressBar.css("width", 100 + "%").attr("aria-valuenow", 100);
               
                 progressText.textContent = 100 + "%";

                clearInterval(interval);
                // İşlem tamamlandığında
                
                // button.prop("disabled", true); // butonu tekrar tıklatılabilir yap
                // button.show();
                // progressBar.text("İşlem tamamlanmak üzere!"); // yazıyı başlangıçtaki haline geri getir

                // progressBar.parent().hide(); // progress bar'ı gizle
            }
        }, 100);
    }

 
</script>