@model FoodVM
    
@* @{ViewData["Title"] = "Liste dışındaki yemekler";} *@

@{

    Layout = null;
}

<style>
    .loader {
        display: none;
    }

    .position {
        width: 25%;
        position: relative;
    }

        .position a, p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .btnposition {
        vertical-align: middle;
        text-align: center;
    }

    <!-- -ms-transform: translate(-50%, -50%); -->

</style>
@*<h4 style="color:red;">@TempData["mesaj"] </h4>*@


<!-- loader class'ın; display'i none olarak set edildi! -->
<div class="spinner-border loader" role="status">
    <span class="sr-only">Loading...</span>
</div>
<hr class="loader" />


@if (Model.FoodDTOs.Count == 0)
{
    <div class="jumbotron" style="padding:20px;  background-color:lightgrey">
        @*<input type="submit" id="btnIslemYap" value="İşlem Yap" />*@

        <span>
            Yemek listesi boş.
        </span>
    </div>
}
else
{
    <div class="panel panel-primary">
        <div class="panel panel-body">
            <table class="table table-hover table-bordered table-responsive-lg" id="tab1" width="100%" border="0" cellspacing="0" cellpadding="100%">
                <thead class="thead-light">
                    <tr>
                        <th>Index</th>
                        <th class="position"><p>Kategori İsmi</p></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FoodDTO item in Model.FoodDTOs)
                    {

                        <tr>
                            <td></td>

                            <td class="position">
                                <p>@item.Food_Name</p>
                            </td>

                            <td class="position"></td>

                            <td class="btnposition">
                                @*<a asp-action="UpdateFood" asp-controller="Food" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>*@
                                <button class="btn btn-primary" id="addFoodtoMyList" value="addFoodtoMyListValue" data-categoryID=@item.ID>
                                    Yemek listeme eklensin
                                </button>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.12.0/build/css/themes/default.min.css" />

@if (TempData["messageFood"] != null) // konrol yapılmazsa messageFood null olduğu zaman .ToString() 'de hata verir..
{
    @if (TempData["messageFood"].ToString() == "İptal edildi.")
    {

        <script>
            alertify.warning("İptal edildi");
        </script>
    }
    else if (TempData["messageFood"].ToString() == "Yemek listenize eklendi.")
    {

        <script>
            alertify.success("Kategori listenize eklendi");
        </script>
    }

    TempData["messageFood"] = null;

}

<div class="modal fade" id="CRUDFoodModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body" id="CRUDFood">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        var t = $('#tab1').DataTable({

            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            },
            columnDefs: [  // indexleme
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [[1, 'asc']],
            pagingType: 'full_numbers' // ilk ve son butonları eklendi..

        });

        // indexleme
        t.on('order.dt search.dt', function () {
            let i = 1;

            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();


    });
</script>

<script type="text/javascript">



    @Model.JavascriptToRun // yaptığı iş, içinde barındırdığı ShowErrorInsertOperationPopup veya ShowErrorUpdateOperationPopup fonksiyonu sayesinde, bu fonksiyonları çağırmak



        function CRUDFoodModalLoaded() {
            $("#CRUDFoodModal").modal('show'); // #CRUDFoodModal içinde CRUDFood var (<div class="modal-body" id="CRUDFood">) onun içinde de data var (_CrudFoodPartial)
        }

    $(function () {

        $("#tab1").on("click", "[value=addFoodtoMyListValue]", function () {
            $.ajax({

                url: 'Add_Food_toMyList_Ajax',
                data: { foodID: $(this).attr("data-categoryID") },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#CRUDFood").html(data);
                    CRUDFoodModalLoaded();

                },
                error: function () {
                    alert("Hata alındı.");
                }
            });
        });
    });

</script>
