@model CategoryofFoodVM

@{
    ViewData["Title"] = "CategoryofFoodList";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<style>
    .loader {
        display: none;
    }

    .position {
        width: 25%;
        position: relative;
    }

        .position a, p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .btnposition {
        vertical-align: middle;
        text-align: center;
    }

    <!-- -ms-transform: translate(-50%, -50%); -->

</style>
@*<h4 style="color:red;">@TempData["mesaj"] </h4>*@


<!-- <div class="form-check form-switch" style=" display: inline;" id="switchClick">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-on="Yes" data-off="No">
    <label class="form-check-label" for="flexSwitchCheckDefault" id="flexSwitchCheckText">Havuzdaki diğer kategoriler</label>
</div>*/
-->


<div class="form-check form-switch" style=" display: inline;" id="switchClick">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-on="Yes" data-off="No">
    <label class="form-check-label" for="flexSwitchCheckDefault" id="flexSwitchCheckText"></label>
</div>

<br />
<br />


<div id="MemberModal">
</div>





<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({

            url: 'CategoryofFood_InPool_Ajax',
            data: {

                poolID: document.getElementById("flexSwitchCheckDefault").checked
                // poolID2: $("#flexSwitchCheckDefault").checked

            },
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#MemberModal").html(data);
                // $("#OtherModal").hide();

                // deneme();

            }

        });


    });

    $(function () {
        $("#switchClick").on("click", function () {

            if ($(this).children("input").is(":checked")) {

                // alert($("#flexSwitchCheckDefault").val());
                // alert($("#flexSwitchCheckDefault").value);

                //  alert("True CLICKED");
                $("#flexSwitchCheckText").text("Kategorilerimi getir");

            } else {

                //  alert("False CLICKED");
                $("#flexSwitchCheckText").text("Havuzdaki diğer kategoriler");
            }

            // alert("CLICKED");

            $.ajax({

                url: 'CategoryofFood_InPool_Ajax',
                data: {

                    poolID: document.getElementById("flexSwitchCheckDefault").checked
                    // poolID2: $("#flexSwitchCheckDefault").checked

                },
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#MemberModal").html(data);
                    // $("#MemberModal").hide();

                    // deneme();

                }

            });

        });
    });

</script>
