@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CategoryofFoodVM


@*@@if ((Model == null) && ViewBag.CRUD != "delete_operation") // _CruFoodion'da Model null değil çünkü AddFoodAjax()'da geriye değer dönüyor ama AddCategoryofFoodAjax()'da dönmüyor Model null o yüzden..
{
    <h3>Kategori Oluşturma Formu</h3>
}*@
@if (Model.CategoryofFoodDTO.ID == 0 && ViewBag.CRUD != "delete_operation")
{
    <h3>Kategori Oluşturma Formu</h3>
}
else if (Model.CategoryofFoodDTO.ID != 0 && ViewBag.CRUD != "delete_operation")
{
    <h3>Kategori Güncelleme Formu</h3>
}
else if (Model.CategoryofFoodDTO.ID != 0 && ViewBag.CRUD == "delete_operation")
{
    <h3>Kategori Silme Formu</h3>
}

<hr />
<div class="row">

    <form asp-action="CRUDCategoryofFood" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (ViewBag.CRUD != "delete_operation")
        {
            TempData["Deleted"] = null;  // delete pop-up sayfasını açıp sonra kapatıp sonra da update/add pop'ı seçilirse TempData["Deleted"] sıfırlanmadığından CRUDFood action kısmında delete operation çalışır bu yüzden bunu sıfırlamak lazım

            // asp-for="" kullanımında içerisine Model.CategoryofFoodDTO.CategoryofFoodName tanımlanamaz (Model olmamalı) yani CategoryofFoodDTO.CategoryofFoodName şeklinde olacak.. ViewBag de tanımlanamaz.. ama TempData kullanılabilir sanırım..

            <div class="form-group">
                <label asp-for="CategoryofFoodDTO.CategoryofFoodName" class="control-label"></label>
                <input asp-for="CategoryofFoodDTO.CategoryofFoodName" class="form-control" />
                <span asp-validation-for="CategoryofFoodDTO.CategoryofFoodName" class="text-danger"></span>
            </div>




@*            <div class="form-group">
                <label asp-for="CategoryofFoodDTO.Status" class="control-label"></label>
                <select class="form-control" asp-for="CategoryofFoodDTO.Status" asp-items="@ViewBag.Status"></select>
                <span asp-validation-for="CategoryofFoodDTO.Status" class="text-danger"></span>
            </div>*@

            
            <div class="form-group">
                <label asp-for="CategoryofFoodDTO._ExistentStatus" class="control-label"></label>
                <select class="form-control" asp-for="CategoryofFoodDTO._ExistentStatus" asp-items="Html.GetEnumSelectList<Project.ENTITIES.Enums.ExistentStatus>()"></select>
                <span asp-validation-for="CategoryofFoodDTO._ExistentStatus" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label asp-for="CategoryofFoodDTO.CategoryofFoodPicture" class="control-label"></label>
                <input class="form-control" type="file" name="CategoryofFoodPicture" src="CategoryofFoodDTO.CategoryofFoodPicture" />
            </div>

            @if (Model.CategoryofFoodDTO.ID== 0)
            {
                <div class="form-group">
                    <input type="submit" value="Kategori Ekle" class="btn btn-primary mt-2" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="Kategori Güncelle" class="btn btn-primary mt-2" />
                </div>
            }

            @if (Model.CategoryofFoodDTO.ID != 0)
            {
                <input type="hidden" asp-for="CategoryofFoodDTO.ID" />
            }

        }

        else
        {
            <input type="hidden" asp-for="CategoryofFoodDTO.ID" />

            <div class="form-group">
                <span asp-validation-for="CategoryofFoodDTO.CategoryofFoodName"></span> <label style="width:100%; height:100%">@ViewBag.CategoryofFoodNameDelete silmek istediğinizden emin misiniz ?</label>

            </div>

            <div class="form-group">
                <input type="submit" value="Kategori Sil" class="btn btn-primary mt-2" />
            </div>

            TempData["Deleted"] = "true";
        }

    </form>

</div>
