@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->


<h1>Ana Sayfa</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">

        @if (TempData["passwordFor3rdPartyAuthentication"] != null)
        {

            <div class="alert alert-info">
                <p>
                    Şifreniz: <u id="content-pass" class="copy-pass">@TempData["generatedPass"]</u>
               olarak belirlenmiştir. </p>
                <span><a href="@TempData["passwordFor3rdPartyAuthentication"].ToString()">Şifre Değiştir Kısmından</a>
                    </span>
                <span> yeni şifre belirleyebilirsiniz</span>
                <p id="aftercopied"></p>
            </div>

            @* <a href="@ViewBag.email">Tıkla</a>*@
        }

    </div>
</div>

<script>
    let contentPass = document.querySelector('#content-pass');
    let handleCopyClick = document.querySelector('.copy-pass');


    handleCopyClick.addEventListener('click', () => {

        let pass = contentPass.textContent;
        navigator.clipboard.writeText(`${pass}`);

        document.getElementById("aftercopied")
            .innerHTML = "Şifre kopyalandı: "
            + pass;


    });
</script>

