@model Technosoft_Project.ViewModels.UserViewModel
<!-- model: UserViewModel ve client valdationlar yapıldı.. -->
@{
    ViewData["Title"] = "SignUp";
}

<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous">

<div class="row">

    <div class="col-md-4 offset-md-4">
        <h4>Üye Ol Formu</h4>
        <hr />
        <form asp-action="SignUp" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- hatalı kısımları ModelState/back-end kısmından alır asp-validation-summary'de gösterir-->
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input placeholder="0555 555 55 55" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="input-group" id="show_hide_password">
                <input asp-for="Password" class="form-control" id="password" />
                    <div class="input-group-append">
                        <a class="input-group-text">
                            <i class="fa fa-eye-slash"></i>
                        </a>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
           
                <input type="hidden" asp-for="City" value="Istanbul" />


           @* <input type="hidden" asp-for="BirthDay" value=11.11.1999 />*@


            <input type="hidden" asp-for="Picture" value="/UserPicture/user.webp" />


            <input type="hidden" asp-for="Gender" value="1" />
            

            <div class="form-group mt-2">
                <input type="submit" value="Üye oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>


<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });
</script>