<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>




    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    @*script'lerin olduğu yere ajax'ı ekleyince çalışmadı!!!*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*@await RenderSectionAsync("CSSScripts", required: false)*@
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
 

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Semerkand Dergilik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Admin">Admin Ana Sayfa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-2" >
                <div class="container; p-2 " style="background-color:#E5E7E9">
                    <h3 class="text-md-center" >Menü</h3>

                    <a class="btn btn-outline-dark w-100 mb-2" asp-action="Index" asp-controller="Member">Üye Sayfası</a>
                    <hr />
                    <a class="btn btn-outline-dark w-100 mb-2" asp-action="Users" asp-controller="Admin">Üyeler</a>

                    <a class="btn btn-outline-dark w-100 mb-2" asp-action="Roles" asp-controller="Admin">Roller</a>

                    <a class="btn btn-outline-dark w-100 mb-1" asp-action="Claims" asp-controller="Admin">User Claims</a>
                    <hr />

                    <a class="btn btn-outline-dark w-100 mb-1" style="margin:0 auto; display:block;" asp-action="CategoryList" asp-controller="Category">Kategori/Ürünler</a>
                    <hr />

                    <a class="btn btn-outline-dark w-100 mb-1" asp-action="Logout" asp-controller="Member" asp-route-returnUrl="/Home/Index">Çıkış yap</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>

    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


</body>
</html>