@model List<System.Security.Claims.Claim>

@{
    ViewData["Title"] = "Claims";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Claims</h2>
<hr />
<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>Kullanıcı</th>
        <th>Dağıtıcı</th>
        <th>Anahtar</th>
        <th>Değer</th>
    </tr>

    @foreach (System.Security.Claims.Claim item in Model)
    {
        <tr>
            <td>@item.Subject.Name</td>
            <td>@item.Issuer</td>
            <td>@item.Type</td>
            <td>@item.Value</td>
        </tr>

    }
</table>