@model RoleViewModel

@{
    ViewData["Title"] = "RoleCreate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
/*     .control-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } */

 

</style>

<h3>Role Oluşturma</h3>
<hr />
<div class="row">
    <div class="col-md-4">

        @* @using () { } *@

        <form asp-action="RoleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div style="display: flex; align-items: center;">
                <label asp-for="Name" class="control-label" style="white-space: nowrap; margin-right: 5px;"></label>
                <input asp-for="Name" class="form-control"  />
            </div>


                <span asp-validation-for="Name" class="text-danger"></span>

                 <label asp-for="Name" class="form-label">WQEQWEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE</label>
 
        

            <div class="form-group">
                <input type="submit" value="Rol oluştur" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>



                <script>

    const paras = document.querySelectorAll("label");

    for (const para of paras) {
        para.scroll(55, 0);
    }
                </script>